div.header h2 {
  margin: 1rem;
}

.card-body h6 {
  margin-bottom: 1.4rem;
}

div.header  {
  margin-bottom: 1rem;
}

.panel {
  padding-top: 0.5rem;
}

.main {
  min-height: 95vh;
  flex-wrap: nowrap;
}

.current-stats {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.weather-card {
  color: white;
}

.weather-item {
  list-style: none;
}

#current-uv {
  position: relative;
}

#current-uv span {
  color: white;
  position: absolute;
  top: -50%; 
  left: 4.6rem;
}

#forecast-list {
  padding: 0;
  margin: 0;
}