div.header h2 {
  margin: 1rem;
}

div.header  {
  margin-bottom: 1rem;
}

.panel {
  padding-top: 0.5rem;
}

.main {
  min-height: 95vh;
  flex-wrap: nowrap;
}

.current-stats {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}