body {
  overflow-x: hidden;
}

div.header h2 {
  margin: 1rem;
}

.card-body h6 {
  margin-bottom: 1.4rem;
}

.navbar {
  position: relative;
}

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus {
  outline: 0;
}

.panel {
  padding-top: 0.5rem;
}

.current-stats {
  margin-bottom: 1rem;
}

.hidden {
  display: none!important;
}

.weather-card {
  color: white;
  height: 200px;
  width: 200px;
  margin: 0.5rem;
}

.weather-card .card-title, .weather-card p {
  margin: 0;
}

.weather-item {
  list-style: none;
}

#current-uv {
  position: relative;
}

#current-uv span {
  color: white;
  position: absolute;
  top: -50%; 
  left: 4.6rem;
}

#loading-wheel {
  align-items: center;
  justify-content: center;
  display: flex;
}

#forecast-list {
  padding: 0;
  margin: 0;
}

#main {
  flex-wrap: nowrap;
}

#search-history {
  margin: 0 15px;
}


#search-area {
  min-height: 93vh;
  margin-left: -20rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#search-area {
  width: 20rem;
}

#weather-panel {
  min-width: 100vw;
}

#main.toggled #search-area {
  margin-left: 0;
}

@media (min-width: 768px) {
  #search-area {
    margin-left: 0;
  }

  #weather-panel {
    min-width: 0;
    width: 100%;
  }

  #main.toggled #search-area {
    margin-left: -20rem;
  }

  .navbar-toggler {
    position: absolute;
  }
}